[submodule "project_fur_felis_catus_driver_analysis"]
	path = project_fur_felis_catus_driver_analysis
	url = git@github.com:team113sanger/project_fur_felis_catus_driver_analysis.git
[submodule "project_fur_felis_catus_cnv_analysis"]
	path = project_fur_felis_catus_cnv_analysis
	url = git@github.com:team113sanger/project_fur_felis_catus_cnv_analysis.git
[submodule "project_fur_felis_catus_pathogen_identification"]
	path = project_fur_felis_catus_pathogen_identification
	url = git@github.com:team113sanger/project_fur_felis_catus_pathogen_identification.git
[submodule "project_fur_felis_catus_hotspot_analysis"]
	path = project_fur_felis_catus_hotspot_analysis
	url = git@github.com:team113sanger/project_fur_felis_catus_hotspot_analysis.git
